@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Roboto", sans-serif;
}
@layer components {
  .main-container {
    @apply container mx-auto px-6 py-5;
  }
}
/* .loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */
